body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 253, 245)
}

@font-face {
    font-family: Yolele;
    src: url("Fonts/Yolele-Regular.ttf")
}

@font-face {
    font-family: Plakat;
    src: url("Fonts/plakkaat/Plakkaat.ttf");
}

@font-face {
    font-family: Causten;
    src: url("Fonts/Causten-font-family-YHFRJUN-2020-12-19/Causten-Light.otf");
}

@font-face {
    font-family: Caustrong;
    src: url("Fonts/Causten-font-family-YHFRJUN-2020-12-19/Causten-Regular.otf");
}

header {
    padding: 0.5rem 0 5rem;
    font-size: 1.25rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
    margin-right: 60px;
}

#nav {
    font-family: Yolele;
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

#nav::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: transform 250ms;
}

#nav:hover::after {
    transform: translateX(-50%) scaleX(1);
}

input[type="search"] {
    border-radius: 10px;
    height: 28px;
    margin-top: 8%;
    font-family: Yolele;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
}

input[type="search"]::placeholder {
    color: black;
}

.billet h1 {
    text-align: center;
    margin-top: 3%;
    font-family: Plakat;
    font-size: 100px;
}

.ticket {
    text-align: center;
    font-family: Causten;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.comand {
    display: block;
    margin-top: 5%;
}
.comand h1{
    font-family: Yolele;font-size: 45px;text-align: center
}

.first {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
}

.name input {
    border: none;
    background-color: transparent;
    font-family: Caustrong;
    font-size: 20px;
}

.infos {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
}

.rond {
    background-color: white;
    border-radius: 40px 40px 40px 40px;
    height: 330px;
    width: 300px;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.4);
}

.rond p {
    font-size: 16px;
}
.choix{
    margin-top: 5%;margin-left: 43%;
}
footer {
    background-color: rgb(44, 29, 29);
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

.infofoot {
    display: flex;
    color: white;
    margin-left: 2%;
    justify-content: space-around;
    font-family: Causten;
}
.infofoot h1{
  transition: 0.5s all;
  cursor: pointer;
}
.infofoot h1:hover{
  color: yellow;
  margin-left: 4%;
}
.infofoot p{
  transition: 0.5s all;
  cursor: pointer;
  position: relative;

}
.infofoot p:hover{
  color: yellow;
  margin-left: 5%;
}
#follow {
    margin-left: 8%;
    font-family: Causten;
    color: white;
}

.svg {
    margin-left: 7%;
}

.svg svg {
    margin-left: 1%;

}

.trait {
    width: 93%;
    height: 2px;
    background-color: rgb(102, 92, 93);
    margin-left: 4%;
}

.copyright {
    text-align: center;
    font-family: Causten;
    color: white;
}
.secret{
    display:none;
    justify-content: center;
  }
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
    font-family: Caustrong;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: relative;
    top: 20px;
  }
  
  #active{
    color: red;
  }
@media (max-width: 426px) {
    .secret{
        display: flex;
        justify-content: space-between;
        background-size: cover;
        margin-right: 5%;
        margin-left: 5%;
      }
      .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 3;
        top: 0;
        left: -250px;
        background-color: rgb(44, 29, 29);
        padding-top: 60px;
        transition: left 0.5s ease;
        
      }
      
      /* Sidenav menu links */
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        
      }
      
      .sidenav a:hover {
        color: rgb(229, 34, 35);
      }
      
      .sidenav ul {
        
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
      }
      
      /* Active class */
      .sidenav.active {
        left: 0;
      }
      
      /* Close btn */
      .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      
      /* Icône burger */
      .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        position: relative;
        top: 20px;}
    header {
        display: none;
    }

    .billet h1 {
       font-size: 50px;
    }

    .ticket {
        margin-top: 5%;
        text-align: center;
        font-family: Causten;
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .comand {
        display: block;
        margin-top: 5%;
    }
    .comand h1{
        font-size: 35px;
    }
    .first {
        display: block;
        position: relative;
        left: 10%;
    }
    .first img{
        width: 50%;
        height: 50px;
    }

    .name input {
        border: none;
        background-color: transparent;
        font-family: Caustrong;
        font-size: 20px;
    }
    .name img{
        width: 80%;
    }

    .infos {
        display: block;
        position: relative;
        left: 10%;
        
      
        margin-top: 5%;
    }

    .rond {
        background-color: white;
        border-radius: 40px 40px 40px 40px;
        height: 330px;
        width: 300px;
        box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.4);
       
    }

    .rond p {
        font-size: 16px;
    }
    .choix{
        margin-left: 25%;
    }
    footer {
    
        width: 425px;
      }
      .footlog{
          margin-left: 27%;
      }
      .infofoot {
          display: none;
        flex-direction: column;
        align-items: flex-start;
      }
      #follow {
        margin-left: 27%;
      }
      .svg {
        margin-left: 27%;
      }
      .trait {
        margin-left: 0;
      }
}
@media only screen and (max-width: 769px) and (min-width:426px) {
    .secret{
        display: flex;
        justify-content: space-between;
        background-size: cover;
        margin-right: 5%;
        margin-left: 5%;
      }
      .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 3;
        top: 0;
        left: -250px;
        background-color: rgb(44, 29, 29);
        padding-top: 60px;
        transition: left 0.5s ease;
        
      }
      
      /* Sidenav menu links */
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        
      }
      
      .sidenav a:hover {
        color: rgb(229, 34, 35);
      }
      
      .sidenav ul {
        
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
      }
      
      /* Active class */
      .sidenav.active {
        left: 0;
      }
      
      /* Close btn */
      .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      
      /* Icône burger */
      .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        position: relative;
        top: 20px;}
    header {
        display: none;
    }

    .billet h1 {
       font-size: 50px;
    }

    .ticket {
        margin-top: 5%;
        text-align: center;
        font-family: Causten;
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .comand {
        display: block;
        margin-top: 5%;
    }
    .comand h1{
        font-size: 35px;
    }
    .first {
        display: block;
        position: relative;
        left: 10%;
    }
    .first img{
        width: 50%;
        height: 50px;
    }

    .name input {
        border: none;
        background-color: transparent;
        font-family: Caustrong;
        font-size: 20px;
    }
    .name img{
        width: 80%;
    }

    .infos {
        display: block;
        position: relative;
        /* left: 25%; */
        margin-left: 29%;
      
        margin-top: 5%;
    }

    .rond {
        background-color: white;
        border-radius: 40px 40px 40px 40px;
        height: 330px;
        width: 300px;
        box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.4);
       
    }

    .rond p {
        font-size: 16px;
    }
    .choix{
        margin-left: 35%;
    }
    footer {
        padding: 10px;
        width: 775px;
      }
      .footlog{
          margin-left: 37%;
      }
      .infofoot {
          display: none;
        flex-direction: column;
        align-items: flex-start;
      }
      #follow {
        margin-left: 39%;
      }
      .svg {
        margin-left: 38%;
      }
      .trait {
        margin-left: 0;
      }

}